LInkedIN content generator.json
{
  "name": "LInkedIN content generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        128
      ],
      "id": "d91d41e6-fba6-486a-b402-3bb1c60fc651",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -928,
        -144
      ],
      "id": "9fecf405-d45a-4c7f-a82a-3303ee17394f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QqfVBxcJmmdHDYUia1QdBsd1dGB9Ii49d6-N05VEvCw",
          "mode": "list",
          "cachedResultName": "LinkedIn post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QqfVBxcJmmdHDYUia1QdBsd1dGB9Ii49d6-N05VEvCw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QqfVBxcJmmdHDYUia1QdBsd1dGB9Ii49d6-N05VEvCw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To Do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -608,
        -240
      ],
      "id": "1b64e32d-c8b9-4cc8-bc5b-b94f18eed9ae",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IqFOT5rWdpqaXw0W",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \" Search the web for {{ $json.Topic }}\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"topic\": \"general\",\n  \"time_range\": null,\n  \"start_date\": \"2025-02-09\",\n  \"end_date\": \"2025-12-29\",\n  \"include_answer\": false,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null,\n  \"auto_parameters\": false,\n  \"exact_match\": false,\n  \"include_usage\": false,\n  \"safe_search\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -704,
        80
      ],
      "id": "6e4ffca9-4fe8-4486-89b7-ca2839e981fa",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article 1:{{ $json.results[0].content }}\nArticle 2:{{ $json.results[1].content }}\nArticle 3:{{ $json.results[2].content }}",
        "options": {
          "systemMessage": "=You are a professional LinkedIn content strategist and ghostwriter.\n\nYour task is to read and synthesize multiple provided articles (typically three) and create a single, concise, high-quality LinkedIn post.\n\nInstructions:\n- Write in a professional, inspiring, and engaging tone.\n- Do NOT summarize each article separately. Instead, merge key ideas into one cohesive narrative.\n- Focus on insights, trends, or valuable takeaways.\n- Keep the post concise (100–150 words).\n- Start with a strong hook to grab attention.\n- Maintain clarity and avoid unnecessary jargon.\n- Use 1–2 relevant emojis to enhance readability (do not overuse).\n- Add 3–6 relevant hashtags at the end.\n- Do not mention that the content is based on multiple articles.\n- Ensure the output feels natural, human-like, and suitable for LinkedIn.\n\nOutput:\n- Return only the final LinkedIn post (no explanations, no headings, no bullet points)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -368,
        -192
      ],
      "id": "54850b81-749f-44ad-a778-a45588f1be2d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3-haiku",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -96,
        112
      ],
      "id": "374ed6db-f6cd-4d99-a323-b8c5456e0eb0",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "1Qe9pxUJWPZxMWLs",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QqfVBxcJmmdHDYUia1QdBsd1dGB9Ii49d6-N05VEvCw",
          "mode": "list",
          "cachedResultName": "LinkedIn post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QqfVBxcJmmdHDYUia1QdBsd1dGB9Ii49d6-N05VEvCw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QqfVBxcJmmdHDYUia1QdBsd1dGB9Ii49d6-N05VEvCw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Get row(s) in sheet').item.json.Topic }}",
            "Status": "Created",
            "Content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        -176
      ],
      "id": "55e8d7ed-8fe3-4deb-adae-6b1ece30ce60",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IqFOT5rWdpqaXw0W",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "384b0444-e3d5-4d1e-8ed5-9a1559ecb09d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b181399a75e43d7081c5bef4156185ea363e350e8fe1473ca8150973cd83501c"
  },
  "id": "ee3fWBGahu9kmT2h",
  "tags": []
}